/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
}

h1,
h2 {
  text-align: center;
  font-weight: 600;
}

h1 {
  padding: 1rem;
  background-color: #3e4253;
  color: white;
  text-transform: uppercase;
}

h2 {
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 1.1rem;
}

p {
  font-size: .93rem;
  color: darkgrey;
}

span {
  display: block;
  margin: 0.25rem auto;
  width: 90%;
  border: 1px solid black;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 1rem;
  width: 90%;
}

legend {
  margin-top: 0.1rem;
  padding: 1.5rem 0;
  font-weight: 600;
  font-size: 1.2rem;
}

label {
  color: grey;
}

/* Main Styles --------------------- */
#intro {
  margin: auto;
  padding-bottom: 2rem;
  width: 90%;
  text-align: center;
  border-bottom: 4px solid black;
}

#info input, #info select {
  margin: 1rem 0;
  padding: 0 1rem;
  border: 0;
  border-radius: 10px;
  height: 3rem;
  color: grey;
  background-color: whitesmoke;
}

#name, #email, #phone, #address, #city, #state {
  width: 100%;
}

#name, #email {
  font-style: italic;
}

label[for=zip] {
  width: 100%;
}

#zip {
  width: 50%;
}

/* https://www.encodedna.com/css-tutorials/how-to-align-placeholder-text-using-css.htm */
#info input[type="text"]::placeholder {
  text-align: right; /* for Chrome, Firefox, Opera */
}
:-ms-input-placeholder {
  text-align: right; /* for IE 10-11 */
}
::-webkit-input-placeholder {
  text-align: right; /* for IE Edge */
}

#options p {
  padding: 1rem .5rem;
  width: 100%;
  text-align: left;
}

#options {
  flex-direction: row;
  flex-wrap: wrap;
}

#options label  {
  padding: 1rem  0;
  width: 85%;
}

#options input {
  margin: 1rem .5rem;
}

#options #text {
  padding: 1rem 0;
}

#other-topics {
  border: 0;
  border-radius: 10px;
  height: 8rem;
  width: 100%;
  resize: none;
  color: grey;
  background-color: whitesmoke;
}

/* Media Queries ------------------- */
@media (min-width: 768px) {
}
