/* Base Styles --------------------- */
* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  display: flex;
  justify-content: center;
}

form {
  background-color: lightsteelblue;
}

h1,
h2 {
  text-align: center;
  font-weight: 600;
}

h1 {
  padding: 1rem;
  background-color: #3e4253;
  color: white;
  text-transform: uppercase;
}

h2 {
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  color: grey;
}

span {
  display: block;
  margin: 0.25rem auto;
  width: 90%;
  border: 1px solid black;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 1rem;
  width: 90%;
}

legend {
  margin-top: 0.1rem;
  padding: 1.5rem 0;
  font-weight: 600;
  font-size: 1.2rem;
}

label {
  color: grey;
}

input, select, textarea {
  background-color: whitesmoke;
}

input:focus, select:focus, textarea:focus {
  background-color: palegoldenrod;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  outline: none;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 1rem 0 12rem 0;
  font-size: 1rem;
  font-style: italic;
}

button {
  margin: 1rem 0;
  height: 4rem;
  width: 90%;
  border: 0;
  border-radius: 7px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: steelblue;
}

/* Main Styles --------------------- */
#intro {
  margin: auto;
  padding-bottom: 2rem;
  width: 90%;
  text-align: center;
  border-bottom: 4px solid black;
}

#info input, #info select {
  margin: 1rem 0;
  padding: 0 1rem;
  border: 0;
  border-radius: 7px;
  height: 3rem;
  color: grey;
}

#name, #email, #phone, #address, #city, #state {
  width: 100%;
}

#name, #email {
  font-style: italic;
}

label[for=zip] {
  width: 100%;
}

#zip {
  width: 50%;
}

/* https://www.encodedna.com/css-tutorials/how-to-align-placeholder-text-using-css.htm */
#info input[type="text"]::placeholder {
  text-align: right; /* for Chrome, Firefox, Opera */
}
:-ms-input-placeholder {
  text-align: right; /* for IE 10-11 */
}
::-webkit-input-placeholder {
  text-align: right; /* for IE Edge */
}

#options {
  flex-direction: row;
  flex-wrap: wrap;
}

#options legend {
  padding: 1.5rem 0 .5rem 0;
}

#options p {
  padding: .75rem .5rem;
  width: 100%;
  text-align: left;
}

#options label  {
  padding: .5rem  0;
  width: 90%;
}

#options input {
  margin: .5rem 0;
  width: 10%
}

#options #text {
  padding: 1rem 0;
}

#other-topics {
  border: 0;
  border-radius: 7px;
  height: 8rem;
  width: 100%;
  resize: none;
  color: grey;
}

/* https://www.encodedna.com/css-tutorials/how-to-align-placeholder-text-using-css.htm */
#other-topics::placeholder {
  text-align: left; /* for Chrome, Firefox, Opera */
}
:-ms-input-placeholder {
  text-align: left; /* for IE 10-11 */
}
::-webkit-input-placeholder {
  text-align: left; /* for IE Edge */
}

/* Media Queries ------------------- */
@media (min-width: 768px) {
  span, fieldset, footer, #intro {
    width: 50%
  }

  p #intro {
    font-size: .9rem;;
  }

  fieldset {
    flex-direction: row;
  }

  #info {
    display: flex;
    align-items: center;
  }

  #info label {
    width: 35%;
  }

  #name, #email, #phone, #address, #city, #state {
    width: 65%;
  }

  #zip {
    width: 25%;
  }

  footer {
    margin: auto;
  }

  button {
    width: 100%;
  }
}
